/**
 * Navbar Component
 */

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--nst-spacing-2) var(--nst-spacing-4);
}

.navbar-brand {
  padding-top: var(--nst-spacing-1);
  padding-bottom: var(--nst-spacing-1);
  margin-right: var(--nst-spacing-4);
  font-size: var(--nst-font-size-lg);
  font-weight: var(--nst-font-weight-semibold);
  text-decoration: none;
  white-space: nowrap;
  color: var(--nst-color-navbar-brand);
}

.navbar-brand:hover {
  text-decoration: none;
  color: var(--nst-color-navbar-brand-hover);
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-text {
  padding-top: var(--nst-spacing-2);
  padding-bottom: var(--nst-spacing-2);
  color: var(--nst-color-navbar-text);
}

.navbar-text a {
  color: var(--nst-color-nav-link-hover);
}

.navbar-toggler {
  padding: var(--nst-spacing-1) var(--nst-spacing-2);
  font-size: var(--nst-font-size-lg);
  line-height: 1;
  background-color: transparent;
  border: 1px solid var(--nst-color-border);
  border-radius: var(--nst-radius-md);
  transition: var(--nst-transition-colors);
  cursor: pointer;
}

.navbar-toggler:hover {
  text-decoration: none;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-collapse:not(.show) {
  display: none;
}

.navbar-collapse.show {
  display: flex;
}

/* Navbar Light */
.navbar-light {
  color: var(--nst-color-navbar-text);
  background-color: var(--nst-color-navbar-bg);
  border-color: var(--nst-color-navbar-border);
}

.navbar-light .navbar-brand {
  color: var(--nst-color-navbar-brand);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--nst-color-nav-link);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: var(--nst-color-nav-link-hover);
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--nst-color-nav-link-active);
}

.navbar-light .navbar-toggler {
  color: var(--nst-color-navbar-text);
  border-color: var(--nst-color-navbar-border);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Navbar Expand */
.navbar-expand-sm {
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.navbar-expand-sm .navbar-nav {
  flex-direction: row;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: var(--nst-spacing-4);
  padding-left: var(--nst-spacing-4);
}

.navbar-expand-sm .navbar-collapse {
  display: flex;
  flex-basis: auto;
}

.navbar-expand-sm .navbar-toggler {
  display: none;
}

@media (max-width: 575.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-expand-sm .navbar-collapse:not(.show) {
    display: none;
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-collapse {
    display: flex;
    flex-basis: auto;
  }

  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
}

