/**
 * Foundation Styles
 * Importa todos os estilos modulares
 */

/* Base */
@import './base.css';

/* Utilities */
@import './utilities/spacing.css';
@import './utilities/display.css';
@import './utilities/flex.css';
@import './utilities/text.css';
@import './utilities/colors.css';
@import './utilities/borders.css';
@import './utilities/shadows.css';

/* Components */
@import './components/container.css';
@import './components/header.css';
@import './components/navbar.css';
@import './components/nav.css';
@import './components/button.css';

